/* app css stylesheet */

body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.uw-zip-container {

    padding-top: 20px;
}

.uw-list-view-button,
.uw-map-view-button {
    padding:10px 0px;
    text-align: center;
}

.uw-map-view-container {
    padding: 10px;
    text-align: center;
}

.opportunityTitle {
    font-weight: bold;
    font-size: 110%;
}

.opportunityDescription {
    font-size: 90%;
    color: #555;
}

.opportunityTable {
    margin-top: 0.5em;
}