<div class="opportunityTitle">{{opportunity.title}}</div>
<div class="opportunityDescription">{{opportunity.description}}</div>
<div class="opportunityTime">{{opportunity.timeStart}} - {{opportunity.timeEnd}}</div> <!-- TODO: filter -->
<div class="opportunityCategory">{{opportunity.category}}</div>
<div class="opportunityLocation">
    <span>{{opportunity.location.address1}}</span><br/>
    <!-- MORE -->
</div>
<div class="opportunityAgency">
    <span>{{opportunity.agency.name}}</span><br/>
    <span>{{opportunity.agency.phone}}</span><br/>
    <span>{{opportunity.agency.email}}</span><br/>
    <span>{{opportunity.agency.location.address1}}</span><br/>
</div>
