<div class="opportunityTitle">{{session.opportunity.title}}</div>
<div class="opportunityDescription">{{session.opportunity.description}}</div>
<div class="opportunityTime">{{session.opportunity.timeStart}} - {{session.opportunity.timeEnd}}</div> <!-- TODO: filter -->
<div class="opportunityCategory">{{session.opportunity.category}}</div>
<div class="opportunityLocation">
    <span>{{session.opportunity.location.address1}}</span><br/>
    <!-- MORE -->
</div>
<div class="opportunityAgency">
    <span>{{session.opportunity.agency.name}}</span><br/>
    <span>{{session.opportunity.agency.phone}}</span><br/>
    <span>{{session.opportunity.agency.email}}</span><br/>
    <span>{{session.opportunity.agency.location.address1}}</span><br/>
</div>

<button type="button" class="btn btn-primary" ng-click="register()">Register for this volunteer opportunity</button>